<p id="notice"><%= notice %></p>

<h1>Listes vendeurs</h1>

<br>

<div class="container">         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pseudo</th>
        <th>Nom</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @vendeurs.each do |vendeur| %>
      <tr>
        <td><%= vendeur.pseudo %></td>
        <td><%= vendeur.nom %></td>
        <td><%= link_to 'Voir', vendeur %></td>
        <td><%= link_to 'Modifier', edit_vendeur_path(vendeur) %></td>
        <td><%= link_to 'Supprimer', vendeur, method: :delete, data: { confirm: 'Sur de supprimer ?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>


<%= link_to 'Nouveau vendeur', new_vendeur_path,  class: "btn btn-default"%>
<%= link_to 'Retour', admin_path, class: "btn btn-primary" %>